<!DOCTYPE html>
<html>
  <head>
    <title>Resound</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>



<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Overpass&display=swap" rel="stylesheet">

<script type= 'text/javascript'>
  window.resoundLogoURL = "<%= image_url('Resound_Logo.png')%>";
  window.soundcloudStarsURL = "<%= image_url('soundcloud_stars.png')%>";
  //window.xButtonURL = "<%= image_url('x_button.png') %>";
  window.xButtonURL = "<%= image_url('x_button_white.png') %>";
  window.resoundLogoWhiteBorderURL = "<%= image_url('RLWB.png') %>";
  window.defaultAlbumCover = "<%= image_url('default_album_cover.png') %>"
  window.defaultSongWave = "<%= image_url('default_song_wave.png') %>"



  //window.song3URL = "<%= audio_path('Song_3.mp3')%>";


</script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

